atlases/CITI/36deg.mat filter=lfs diff=lfs merge=lfs -text
atlases/CITI/36deg.txt filter=lfs diff=lfs merge=lfs -text
atlases/CITI/CIT168_T1w_head_700um.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/CIT168_T2w_head_700um_coronalOblique.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/CIT168_T2w_head_700um.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/CoronalOblique_rigid.mat filter=lfs diff=lfs merge=lfs -text
atlases/CITI/CoronalOblique_rigid.txt filter=lfs diff=lfs merge=lfs -text
atlases/CITI/img_300umCoronalOblique_hemi-L.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/img_300umCoronalOblique_hemi-R.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/Mask_hemi-L_300umCoronalOblique.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/Mask_hemi-L.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/Mask_hemi-R_300umCoronalOblique.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/Mask_hemi-R.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/orig_T1w.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/orig_T2w_CoronalOblique.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/orig_T2w.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/Resample_hippCrop.m filter=lfs diff=lfs merge=lfs -text
atlases/CITI/T2w_300umCoronalOblique_hemi-L.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/CITI/T2w_300umCoronalOblique_hemi-R.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/CoronalOblique_rigid.mat filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/CoronalOblique_rigid.txt filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/img_300umCoronalOblique_hemi-L.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/img_300umCoronalOblique_hemi-R.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/orig_T1w_CoronalOblique.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/orig_T1w.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/Resample_hippCrop.m filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/t1_300umCoronalOblique_hemi-L.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/t1_300umCoronalOblique_hemi-R.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/t1_CoronalOblique.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/t1.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/MNI152/test.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/Avg_img.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/Avg_lbl_JDedit.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/Avg_lbl_JDedit_withDG.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/Avg_lbl_JDedit_withDG_withDummy.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/Avg_lbl.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/Avg_mask.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/coords-AP.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/coords-IO.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/coords-PD.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/labelmap-postProcess.nii.gz filter=lfs diff=lfs merge=lfs -text
atlases/UPenn_ExVivo/unfold.mat filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4 filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000 filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/batch_gpuTrain.sh filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/config.ini filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/dataset_split_overwrite.m filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/dataset_split_training.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/evaluation_niftynet_log filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/histogram_ref_file.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/histogram_ref_file.txt.backup filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/inference_niftynet_log filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/LBL.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/lbl.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/models filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/settings_evaluation.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/settings_inference.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/settings_training.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/T2-LIKE.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/T2-like.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/training_niftynet_log filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/batch_gpuTrain.sh filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/config.ini filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/dataset_split.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/dataset_split_overwrite.m filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/evaluation_niftynet_log filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/histogram_ref_file.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/inference_niftynet_log filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/lbl.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/models filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/settings_evaluation.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/settings_inference.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/settings_training.txt filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/T2-like.csv filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/train.38365335.out filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/training_niftynet_log filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/models/checkpoint filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/models/model.ckpt-500000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/models/model.ckpt-500000.index filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.4/models/model.ckpt-500000.meta filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/models/checkpoint filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/models/model.ckpt-600000.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/models/model.ckpt-600000.index filter=lfs diff=lfs merge=lfs -text
CNNmodels/highres3dnet_large_v0.6_b1000/models/model.ckpt-600000.meta filter=lfs diff=lfs merge=lfs -text
